{
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react$",
    "",
    "^next$",
    "",
    "^[a-zA-Z]",
    "^@(?!/).*",
    "",
    "^@/lib/(.*)$",
    "^@/constants/(.*)$",
    "^@/stores/(.*)$",
    "^@/utils/(.*)$",
    "",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/icons/(.*)$",
    "",
    "^@/data/(.*)$",
    "^@/assets/(.*)$",
    "^@/pages/(.*)$",
    "^@/routes/(.*)$",
    "",
    "^@/services/(.*)$",
    "^@/actions/(.*)$",
    "^@/api/(.*)$",
    "",
    "^@/(?!types/).*",
    "",
    "^[./]",
    "",
    "^@/types/(.*)$",
    ".*\\.(types|d\\.ts)$",
    "",
    ".*\\.css$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx"]
}
